@{
    ViewData["Title"] = "Home Page";
}
@model FilmSitesi.Models.MovieGenreViewModel

<h1>VİZYONDAKİLER</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Yeni Film Ekle</a>
</p>
<form asp-controller="Home" asp-action="Index" method="get">
    <p>

        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">Kategoriler</option>
        </select>

        Film Adı: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Stok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stok)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Film Bilgilerini Düzenle</a> |
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Konu" asp-route-id="@item.Id">Konu</a>|
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Vizyon Tarihi Doldu</a>|
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Izleyiciler" asp-route-id="@item.Id">İzleyiciler</a>
            </td>
        </tr>
        }
    </tbody>
</table>
