@model IEnumerable<Movie>
<div class="border p-4 bg-white">
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>Film Adı</th>
                    <th>Türü</th>
                    <th>Fiyat</th>
                    <th>Vizyon Tarih Aralığı</th>
                    <th>Gişe</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
            <tr>
                <td>@item.Title</td>
                <td>@item.Genre</td>
                <td>@item.Price</td>
                <td>@item.ReleaseDate</td>
                <td>@item.Stok</td>
            </tr>
                }
            </table>
        }
    </div>
</div>
